* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    align-items: center;
    background-color: #1f2937;
    padding: 0px 105px;
}

.container {
    align-self: flex-start;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0;
    margin: 5px;
}

.subtext {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px; 
    font-size: 18px;
    font-weight: 500;
    padding: 8px 30px;
    border: 0;
    margin: 10px 0px;
}

img {
    padding: 7px;
    height: 250px;
    border: 3px solid gray;
    margin: 15px;
}

.title-1 {
    display: flex;
    padding: 100px;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

.info-2 {
    display: flex;
    background-color: #fefefe;
    color: #1f2937;
}

.title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    justify-content: center;
}

.card {
    color: #1f2937;
    font-size: 18px;
    justify-content: center;
}

.square {
    border: 5px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    display: flex;
}