* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 5px 105px;
    gap: 18px;
}

.container {
    align-self: flex-start;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 5px;
}

.subtext {
    display: flex;
    margin: 5px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 30px;
    border: 0;
    border-radius: 10px; 
    margin: 10px 0px;
}

img {
    padding: 7px;
    height: 250px;
    border: 3px solid gray;
}

.title-1 {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    padding: 100px;
    gap: 15px;
}

.h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    justify-content: center;
    padding: 50px;
}

.allcards {
    color: #1f2937;
    font-size: 18px;
    font-weight: 200;
    display: flex;
    justify-content: center;
}   

.square {
    border: 5px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.info-2 {
    background-color: #fefefe;
    color: #1f2937;  
    text-align: center;
    padding-bottom: 100px;
}

.quote-3 {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    padding: 100px;
}

.author {
    font-size: 24px;
    font-style: normal;
    font-weight:700;
    display: flex;
    justify-content: end;
    margin-right: 100px
}

.action-4 {
    padding: 100px;
}

.call {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    display: flex;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
}

.button-2 {
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid white;
}

span {
    font-weight: 100;
}